<div id="printableArea" #printSection>
  <div class="header">
    <h2 class="title-list">Cartera - Letras - Detalle Letra</h2>
    <button (click)="Imprimir()" class="bt-registrar">Imprimir</button>
  </div>

  <div class="content-detail-letra">

    
    <div class="detail-letra-expansion">
      <mat-expansion-panel
        class="expansion-panel-detail-letra"
        [expanded]="panelOpenState()"
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-description
            >Letra: {{ letra.numletra }}</mat-panel-description
          >
        </mat-expansion-panel-header>

        <!-- Detalle de los datos de la letra -->
        <div class="letra-details">
          <div class="letra-detail-item">
            <span class="detail-label">ID Letra:</span>
            <span class="detail-value">{{ letra.idletra }}</span>
          </div>
          <div class="letra-detail-item">
            <span class="detail-label">Num Letra:</span>
            <span class="detail-value">{{ letra.numletra }}</span>
          </div>
          <div class="letra-detail-item">
            <span class="detail-label">Fecha Emisión:</span>
            <span class="detail-value">{{ letra.fechaemision }}</span>
          </div>
          <div class="letra-detail-item">
            <span class="detail-label">Fecha Vencimiento:</span>
            <span class="detail-value">{{ letra.fechavencim }}</span>
          </div>
          <div class="letra-detail-item">
            <span class="detail-label">Tasa Efectiva Anual:</span>
            <span class="detail-value">{{ letra.tasaefectiva }}%</span>
          </div>
          <div class="letra-detail-item">
            <span class="detail-label">Valor Nominal:</span>
            <span class="detail-value">{{ letra.valornominal }}</span>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

</div>
