<div class="header">
  <h2 class="title-list">Cartera - Letras - Detalle Letra</h2>
</div>


<div @transitionMessages>

  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false) ">
    <mat-expansion-panel-header>
      <mat-panel-title> Self aware panel </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState() ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</div>
