.container{
    flex: auto;
    align-items: center;
    background-color: aqua;
}
#login{
    background-color: rgb(188, 246, 108);
    flex: auto;
   
    align-items: center;
    display: block;
    justify-content: center;  
    padding:10dvh;  
    text-align: center;
}
.flex{
    flex-direction: column;
}
mat-card-actions{
    flex-direction: column;
}