<div class="header">
    <h2 class="title-list">Principal</h2>
  </div>
  <div class="fullpanel">

    <a class="text-welcome" style="display: block; text-align: justify; margin: 0 auto; width: 80%; text-align: justify;">
      <span style="font-size: 24px; font-weight: bold; display: block; text-align: center;">Bienvenido a la aplicación de gestión de carteras de descuento de letras y facturas.</span>

      <br>
      Nuestra plataforma está diseñada para facilitar la administración financiera de tu pequeña o mediana empresa, permitiéndote optimizar tu flujo de efectivo y mejorar la liquidez. Calcula la Tasa de Coste Efectivo Anual (TCEA) de tus carteras, genera reportes detallados y gestiona tus letras y facturas de manera sencilla y segura, todo en soles.
      <br>

    </a>

  </div>
