<div class="header">
  <h2 class="title-list">Soporte</h2>
</div>
<div class="fullpanel">
  <a class="text-welcome" style="display: block; text-align: justify; margin: 0 auto; width: 80%; text-align: justify;">
    <span style="font-size: 24px; font-weight: bold; display: block; text-align: center;">Soporte</span>
    <br>
    ¡Estamos aquí para ayudarte! Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos. Nuestro equipo de soporte está disponible para responder a tus dudas y brindarte la ayuda que necesitas.
    <br>
    ¡Gracias por confiar en nosotros!
  </a>

</div>
