/* ------------------------------------ TITLE  List */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
  
    border-bottom: 1px solid #ddd;
  }
  
  .title-list {
    color: #000;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .fullpanel {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh; /* Altura completa de la pantalla */
  }
  
  .text-welcome {
    font-size: 24px;
    color: #333; /* Ajusta el color según tu preferencia */
    text-decoration: none; /* Quita el subrayado */
  }
  