<nav class="sidebar">
    <div class="logo">
      <h3>UI Template Gallery</h3>
    </div>
    <ul class="menu">
      <li>
        <span>CRM</span>
        <ul>
          <li><a href="#">Contact List</a></li>
          <li><a href="#">Contact Details</a></li>
        </ul>
      </li>
      <li><a href="#">Planning</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Authentication</a></li>
      <li><a href="#">Common</a></li>
    </ul>
    <footer>
      <p>Copyright © 2024 Developer Express Inc.</p>
    </footer>
  </nav>
  