/* Layout general del panel */
.task-panel {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: white;
  border-right: 1px solid #e0e0e0;
  padding-top: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  height: 100%; /* Ocupar todo el alto del contenedor */
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: space-between; /* Espacio entre los elementos */

  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 30px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}


.menu li:hover {
  background-color: #f0f0f0;
}

.menu li.active {
  background-color: #e6f7ff;
  border-right: 5px solid #1890ff;
}

.menu i.icon {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  background-color: #cfd8dc;
 
}

/* Task List */
.task-list {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.task-item {
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
}

.task-item:hover {
  background-color: #f0f0f0;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header strong {
  font-size: 16px;
}


.more-options {
  cursor: pointer;
  font-size: 24px; /* Ajusta el tamaño del icono */
  color: #888;
  transition: color 0.2s;
}

.more-options:hover {
  color: #000;
}


.task-details {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.no-tasks {
  text-align: center;
  color: #888;
  margin-top: 50px;
}
