<div class="task-panel">
  <!-- Sidebar -->
  <aside class="sidebar">
    <ul class="menu">
      <div>
        <li
          *ngFor="let status of statuses"
          [class.active]="status === selectedStatus"
          (click)="selectStatus(status)"
        >
          <i class="icon"></i>
          {{ status }}
        </li>
      </div>
      <div>
        <li
          *ngFor="let botuse of botuses"
          [class.active]="botuse === selectedStatus"
          (click)="selectStatus(botuse)"
        >
          <i class="icon"></i>
          {{ botuse }}
        </li>
      </div>
    </ul>
  </aside>

  <div class="listsection">
    <!-- Title list -->

    <h2 class="title-list">{{ selectedStatus }}</h2>
    <!-- List -->
    <section class="task-list">
      <div *ngIf="filteredCart.length > 0; else noTasks">
        <div class="task-item" *ngFor="let task of filteredCart">
          <div class="task-header">
            <strong>{{ task.nombrec }} | {{ task.moneda }}</strong>
            <mat-icon class="more-options">more_vert</mat-icon>
          </div>
          <p class="task-details">{{ task.tipodoc }} | {{ task.fechacrea }}</p>
        </div>
      </div>

      <ng-template #noTasks>
        <div class="no-tasks">No tasks available.</div>
      </ng-template>
    </section>
  </div>
</div>
