<div class="task-panel">
  <!-- Sidebar -->
  <aside class="sidebar">
    <ul class="menu">
      <div>
        <li
          *ngFor="let status of statuses"
          [class.active]="status === selectedStatus"
          (click)="selectStatus(status)"
        >
        <mat-icon *ngIf="status=='Soporte'">support_agent</mat-icon> <!-- Icono de ejemplo -->
        <mat-icon *ngIf="status=='Principal'">home</mat-icon> <!-- Icono de ejemplo -->
        <mat-icon *ngIf="status=='Gestión de carteras'">list_alt</mat-icon> <!-- Icono de ejemplo -->
        {{ status }}
        </li>
      </div>
      <div>
        <li
          *ngFor="let botuse of botuses"
          [class.active]="botuse === selectedStatus"
          (click)="selectStatus(botuse)"
          
        >
        <mat-icon *ngIf="botuse=='Cerrar sesión'">logout</mat-icon> <!-- Icono de ejemplo -->
        <mat-icon *ngIf="botuse=='Mi cuenta'">account_circle</mat-icon> <!-- Icono de ejemplo -->
          {{ botuse }}
        </li>
      </div>
    </ul>
  </aside>

  <div class="listsection">

    <div *ngIf="selectedStatus=== 'Principal'">
      <app-panel></app-panel>
    </div>
    <div *ngIf="selectedStatus=== 'Gestión de carteras'">
      <app-cartera></app-cartera>
    </div>
    <div *ngIf="selectedStatus=== 'Soporte'">
      <app-suport></app-suport>
    </div>
    <div *ngIf="selectedStatus=== 'Mi cuenta'">
      <app-micuenta></app-micuenta>
    </div>
    
  </div>
</div>
